.form {
  text-align: right;
  &__group {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  //Forms in different pages

  &__questions {
  }

  &__input {
    font-size: $default-font;
    font-family: inherit;
    color: black;
    padding: 0.7rem 1.2rem;
    border-radius: 7px;
    background-color: rgba($color-white, 1);
    border: none;
    border-bottom: 3px solid $color-primary;
    //border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all 0.3s;

    // @include respond(tab-port) {
    //   width: 100%;
    // }
    &--sm {
      padding: 0.3rem 0.2rem 0.3rem 0.9rem;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary-light-1;
    }

    &:focus:invalid {
      border-bottom: 3px solid grey;
    }

    &::-webkit-input-placeholder {
      color: $color-black;
    }
  }

  // &__label {
  //   font-size: 1.3rem;
  //   font-weight: 400;
  //   transform: translate(40%, -8px);
  //   display: inline-block;
  //   right: 0;
  //   padding: 0px 0.9rem;
  //   background-color: $color-primary;
  //   border-radius: 5px 5px;
  //   color: white;
  // }

  &__label {
    font-size: 1.3rem;
    font-weight: 300;
    transform: translate(0, -6px);
    display: inline-block;
    position: absolute;
    left: 7rem;
    padding: 0px 0.9rem;
    background-color: #471180;
    border-radius: 5px 5px;
    color: white;
  }
  &__input:placeholder-shown + &__label {
    opacity: 1;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  //   &__radio-group {
  //     width: 49%;
  //     display: inline-block;

  // @include respond(tab-port) {
  //   width: 100%;
  //   margin-bottom: 2rem;
  // }
  //}

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;

    &::after {
      content: '';
      @include absoluteCenter;
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
