.card {
  margin: 0;
  width: 100%;
  min-height: 32rem;
  border-radius: 13px;
  border: solid 0.2rem $color-grey-dark;
  overflow: hidden;
  background: $color-white;
  box-shadow: inset -5px -5px 10px #adadad, inset 5px 5px 10px $color-white;

  @include respond(phone) {
  }
  & a {
    & i {
      color: grey;
      font: 2rem;
    }

    text-decoration: none;
  }
  &__header {
    color: $color-black;
    margin: 0px 0px;
    padding: 0.5rem 0;
    position: relative;
  }

  &__price {
    position: relative;
    top: 0;
    left: 2rem;
  }

  &__imgWrapper {
    &--img {
      width: 100%;
      height: auto;
    }
  }
  &__rentSaleOption {
    color: red;
    font-size: $default-font;
    padding: 0 0.5rem;
    position: absolute;
    top: 0.7rem;
    right: 0.8rem;
  }
  &__icons {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: solid $color-grey-dark 0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &--item {
      border: turquoise;

      & i {
        font-size: 2rem;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__body {
    // padding: 1rem 0.3rem;

    &--bedrooms {
    }
    &--category {
    }
    &--viewDetails {
    }
    &--location {
    }
    &--contactbtn {
    }
    &--heart {
      color: grey;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      width: 3.5rem;
      height: 3.5rem;

      &--heart-clicked {
        color: red;
        width: 2em;
        height: 2em;
      }

      &:hover {
        transform: scale(1.1) translateY(0px);
      }
    }
    &--postedByDetails {
      text-align: center;
      position: absolute;
      left: 10;
      bottom: 0.4rem;
      width: 4rem;
    }
    &--postedByImg {
      border-radius: 50%;
      width: 100%;
      height: 4.5rem;
      bottom: 0.1rem;
      left: 0.7rem;
      display: block;
      border: 0.1rem rgb(138, 131, 104) solid;
    }
    &--btn {
      font-size: $default-font;
      align-items: center;
      padding: 0.4rem 0.6rem;
    }

    &--starRating {
      display: block;
      left: 0;
      bottom: 0;
      z-index: 1080;
      width: 100%;

      &-img {
        width: 100%;
      }
    }
  }
}

.allpostings {
  &__spin {
  }
}

.houseposting {
  padding: 0rem 0.7rem;
  margin-top: 2rem;
  background-color: none;
}

.Postedby {
}
.houselistingsBtn a {
  background: rgb(214, 43, 43);
  font-size: $default-font;
  color: #fff;
  padding: 1rem 2.8rem;
  border-radius: 2rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.houselistingsBtn a:hover {
  background: rgba(25, 129, 226, 0.911);
  text-decoration: none;
  color: white;
}

.bi-heartClicked {
  color: red;
  width: 2em;
  height: 2em;
}

.heartClicked {
  color: red;
  width: 2em;
  height: 2em;
}

.hide {
  display: none;
}
