/* Footer css */

.footer {
  background-image: linear-gradient(to right, #272727, grey);
  color: #fff;
  padding: 3rem 2rem 3rem 2rem;
  font-size: $default-font;
  line-height: 2.5rem;
  position: relative;
  z-index: -1;

  &__home {
    padding: 30rem 2rem 3rem 2rem;
    margin-top: -19rem;
  }

  &__logo {
    font-size: 35px;
    color: rgba(25, 129, 226, 0.911);
    border: 3px white solid;
    border-radius: 10px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  // &__desc {
  //   font-size: $default-font;
  // }

  &__contentWrap {
    &:not(:last-child) {
      border-right: 2px solid white;
    }
  }

  &__heading {
    color: $color-white;
    font-size: 2.1rem;
  }

  &__para {
    font-size: $default-font;
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  &__link {
    color: lightblue;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &____appLogo {
    width: 14rem;
  }
}

.importantlinks {
  border-bottom: 2px solid white;
}

.lastFooter {
  background-color: rgb(45, 140, 228);
  color: white;
  padding: 0.2rem 0;
}
