.navbar {
  .navigation {
    @include respond(phone) {
      display: flex;
      flex-direction: row;
    }
  }

  &-brand {
    cursor: pointer;
  }

  &__appdownload {
    @include respond(phone-large) {
      display: none;
    }
  }
  &__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    width: 20%;
    min-width: 25rem;
    max-width: 35rem;
    margin-top: -100%;
    height: 80vh;
    max-height: 35rem;
    opacity: 0;
    background-color: $color-tertiary;
    transition: all 0.5s;
    z-index: 2;

    &.active {
      opacity: 1;
      margin-top: 0;
      transition: all 0.8s;
    }
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 0;

    @include respond(phone) {
      transform: translate(-50%, -30%);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 0rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.7rem;
      font-weight: 400;
      padding: 1rem 1rem;
      color: $color-secondary;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      width: 100%;
      transition: all 0.4s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(-0.1rem);
    }
  }
  &__open-btn {
    margin-left: 1.5rem;
    display: flex;
    padding: 0.3rem 1rem;
    height: fit-content;
    align-self: center;

    &--span1 {
      font-size: 2rem !important;
      margin-right: 0.5rem;
    }
    &--span2 {
    }
  }

  &__closure-btn {
    padding: 0rem 1.2rem 0.4rem 0.9rem;
    font-size: 2.3rem;
    border-radius: 0rem 0rem 2.4rem 0rem;
    color: purple;
    border: 1px solid aliceblue;
    background-color: $color-secondary;
    transition: all 0.4s;

    &:hover {
      transform: translateY(0);
      box-shadow: 0 1rem 2rem rgba($color-white, 0.2);
      color: $color-secondary;
      background-color: $color-primary;

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  }
  &__right {
    display: flex;
    flex-direction: row;
    z-index: 3;
  }
}

.messageIcon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  margin-right: 1rem;

  @include respond(phone) {
    display: none;
  }

  &-smallscreen {
    display: none;

    @include respond(phone) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      margin-right: 1rem;
      width: 100%;
      padding: 6px;
      background-color: $color-secondary;
      flex-direction: row-reverse;
    }

    & span {
      // position: relative;
      // top: -0.8rem;
      // right: 16px;
      // font-size: $default-font;

      position: relative;
      top: -1.5rem;
      right: 17px;
      font-size: 1.5rem;
    }
  }
}
.far {
  font-size: 3rem;
  // width: 3rem;
  // height: 2.5rem;
  // position: relative;

  // @include respond(tab-port) {
  //   display: none;
  // }
}

.messageIcon p {
  display: none;

  @include respond(tab-port) {
    display: block;
  }
}

.messageIcon span {
  // position: relative;
  // top: -0.8rem;
  // right: 16px;
  // font-size: $default-font;

  position: relative;
  top: -1.5rem;
  right: 17px;
  font-size: 1.5rem;

  // @include respond(tab-port) {
  //   right: 17px;
  // }
}

.messageIconWrapper {
  display: none;
  flex: none;
}

.messageIcon2 {
  display: none;
  list-style-type: none;
  display: block;
  position: relative;
}
.messageIcon2 img {
  width: 3rem;
  height: 2.5rem;
  position: relative;
}
.messageIcon2 span {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  font-size: 1.3rem;
}

.logo {
  font-size: 2.7rem;
  margin: 0;
  color: $color-primary;
  border: 0.3rem white solid;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  &__span {
    color: rgba(25, 129, 226, 0.911);
  }
}

.profilePicImg {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  top: 0;
  margin: 0;
}
.profilePic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.navbar__icons-wrapper {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-menu {
  font-size: 1.6rem;
}

.playstoreApstoreLogos {
  @include respond(phone) {
    display: none;
  }
}
