.imagewrap {
  width: 33%;
  //min-width: 250px;
  display: inline-block;
  background-color: $color-white;
  margin-bottom: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;

  @include respond(phone-large) {
    width: 49%;
    // min-width: 250px;
  }
}

.imagewrap img {
  width: 100%;
}

.changeImage__input {
  display: none;
}
.changeImage__label {
  color: whhite;
  margin: 0;
  margin-bottom: 0;
  color: white;
}

.button-delete-image {
  padding: 6px 2rem;
  font-size: 1.6rem;

  @include respond(tab-port) {
    padding: 6px 1.6rem;
    font-size: 1.4rem;
  }
}

.editImages {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  justify-content: space-evenly;
}
