.postedProperties {
  overflow: hidden;
  // padding: 0 3rem;
}

.propertyListWrapper {
  padding: 0rem 0 4rem 0;
}

.line {
  width: 100%;
  height: 0.1rem;
  border-bottom: 0.1rem dashed #ddd;
}

.wrapper {
  display: none;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  min-width: 25rem;
  max-width: 25rem;
  background: #7386d5;
  padding: 10px;
  color: #fff;
  transition: all 0.3s;
  z-index: 0;
  margin-left: -25rem;
}
#sidebar.active {
  margin-left: 0rem;
}
.sidebarFixed {
  position: sticky;
  height: 100%;
  top: 0px;
  bottom: 0px;
  z-index: 1080;
}

.sidebar-header {
  padding: 0px 0px 0px 0px;
  text-align: center;
  z-index: 0;
}

#sidebar .sidebar-header h5 {
  padding: 0px 30px 0px 0px;
  font-size: 2.3rem;
  text-align: center;
}

#sidebar div {
  padding: 2px 2px;
  border-bottom: 1px solid #47748b;
  margin: 10px 0px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
  // background: #6d7fcc;
}
a[data-toggle='collapse'] {
  position: relative;
}

#sidebarCollapse {
  position: sticky;
  top: 10%;
  z-index: 1080;
  font-size: $default-font;
}

.labelBlock {
  display: block;
  margin: 0px;
  color: black;
  font-size: $default-font;
}
.priceRange {
  padding: 0px 2px;
  display: inline-block;
  width: 40%;
  border-radius: 40px;
  text-align: center;
  outline: none;
}
.priceRangebutton {
  display: inline-block;
  border-radius: 5px;
  width: 15%;
  text-align: center;
  outline: none;
}
/* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.propertyHeading {
  width: 50%;
  background-color: indigo;
  color: ivory;
}

@media (max-width: 600px) {
  // #sidebar {
  //   margin-left: 0;
  // }
  // #sidebar.active {
  //   margin-left: 0px;
  // }
  .content {
    position: relative;
    left: 0px;
  }
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.failedPropertyLoad {
  position: fixed;
  background-color: red;
  top: 10%;
  z-index: 1080;
  font-size: large;
}

.failedPropertyLoad img {
  width: 100%;
  height: 100vh;
}

/* hide classes for Javascript toggling in filtration */

.hide1 {
  display: none;
}
.hide2 {
  display: none;
}
.hide3 {
  display: none;
}
.hide4 {
  display: none;
}
.hide5 {
  display: none;
}

.toggleMapandCards {
  display: none;
}

.toggleMapAndCards.active {
  display: flex;
}

.toggleButtonsWrapper {
  display: flex;
  flex-direction: row;

  @include respond(phone) {
    order: 3;
    margin-top: 1.5rem;
    z-index: 5;
    width: 100%;
    justify-content: center;
  }
}

.toggleMapAndCardsBtn {
  &:link,
  &:visited {
    font-size: $default-font;
    background-color: rgba($color-tertiary, 1);
    color: $color-white;

    display: inline-flex !important;
    border-radius: 0px !important;
    text-decoration: none;
    transition: all 0.7s;
    z-index: 1;
    padding: 0.6rem 2rem;
  }

  // &:active {
  //   box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
  //   transform: translateY(0);
  //   border-radius: 6px;
  // }
  &--1 {
    margin-right: -20px;
    padding-right: 34px !important;

    & .active {
      z-index: 2;
      border-radius: 0px 20px 20px 0 !important;
      background-color: #471180 !important;
      color: $color-white !important;
    }
  }

  &--2 {
    padding-left: 37px !important;

    & .active {
      background-color: #471180 !important;
      color: $color-white !important;
      border-radius: 20px 0px 0px 20px !important;
      z-index: 2;
    }
  }

  &:hover {
    //display: flex;
    transform: translateX(0px) !important;
    //border-radius: 6px;
    z-index: 2;

    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    // transform: scale(1.2px);
    border-radius: 6px;
  }
}

.toggleMapAndCardsBtn.active {
  background-color: #471180 !important;
  color: $color-white !important;
}
