$color-primary: #471180;
$color-primary-light-1: #640178;
$color-primary-light-2: #8a37e2;
$color-primary-light-3: #a454fa;

$color-white: #ffffff;
$color-faded-white: #f6f4f2;
$color-black: black;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$default-font: 1.6rem;

$color: #f48874;
